body {
    text-align: center;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    margin: 0 auto;
}

.grid-item{
    text-align:center;
    font-size: 25px;
}
#reset-button{
    font-size: 36px;
}
